body{
    background-color: #9bd2cb;
    margin: 0;
}

main{
    height: 50vh;
    padding-top: 50vh;
}

a{
    text-decoration: none;
    color: #C6512E;
}




 


h1 {
    height: 50px;
    margin-top: -25px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 5em;  
   font-family: 'Roboto', sans-serif;
   font-weight: 100;    
   letter-spacing: 0.2em;
       
}


.link:hover {
    color: white;
    

h1 p {
  margin: 0 }